div.title-search-result {
	display: none;
	overflow: hidden;
	z-index: 205;
	box-shadow:  0 6px 6px rgba(0, 0, 0, 0.3);
}

.search-suggest {
	display: flex;
	flex-direction: column;
	background: #fff;
}

.search-suggest__item {
	padding: 5px 3px;
	color: #000;
	position: relative;
}

.search-suggest__item:after {
	position: absolute;
	content: '';
	width: calc(100% - 16px);
	height: 1px;
	right: 0;
	background: #000;
	opacity: .1;
	bottom: 0;
	left: 8px;
}