.show-promo__content .show-promo__tag {
    background-color: #37806C;
}

.swiper-button-prev {
    background: url(/local/templates/hgtv/assets/img/slider-prev.svg) no-repeat left;
    background-size: contain;
}

.swiper-button-next {
    background: url(/local/templates/hgtv/assets/img/slider-next.svg) no-repeat right;
    background-size: contain;
}