.schedule__loading {
    height: 100vh;
}

.schedule__preloader.preloader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.shows-list__shows-accordion {
    display: none;
}

.shows-list__shows-accordion.active {
    display: block;
}