.one-letter-shows__item .show-card {
    padding: 0;
}

.one-letter-shows__item:nth-child(6n+1) .show-card__cover,
.one-letter-shows__item:nth-child(6n+3) .show-card__cover,
.one-letter-shows__item:nth-child(6n+5) .show-card__cover {
    padding-top: 111%;
}

.one-letter-shows__item:nth-child(6n+2) .show-card__cover,
.one-letter-shows__item:nth-child(6n+4) .show-card__cover,
.one-letter-shows__item:nth-child(6n+6) .show-card__cover {
    padding-top: 136%;
}

.one-letter-shows__item:nth-child(6n+4) .show-card,
.one-letter-shows__item:nth-child(6n+6) .show-card {
    margin-top: -4.25rem;
}

@media screen and (max-width: 566px) {
    .one-letter-shows__item:nth-child(6n+4) .show-card,
    .one-letter-shows__item:nth-child(6n+6) .show-card {
        margin-top: 0;
    }
}