.popular-video__preloader.preloader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    top: 0;
    left: 0;
    background: transparent;
}

.popular-video__preloader-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.popular-video__preloader-shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 5;
    opacity: .7;
}

.ajax-navigation {
    position: relative;
}